<div class="large-offset-2 large-8 columns" ng-init="userData.getData()">
	<div class="large-8 columns" id="leftUser">
		<div id="userPicture">
			<ul class="small-block-grid-2 animate-container">
				<li>
					<img class="image-cropper" src="{{ ud.User.imgLink }}" alt="User Image">
				</li>
				<li>
					<h4>{{ ud.User.Username }}</h4>
					<h5>{{ ud.User.Name }}</h5>
				</li>
			</ul>
		</div>
		<div id="userInfo">
			<ul class="small-block-grid-1">
				<li>
					<p>{{ ud.User.email }}</p>
				</li>
			</ul>
			<ul class="small-block-grid-1">
				<p>{{ ud.TeamComps.TeamName }}</p>
			</ul>
		</div>
	</div>
	<div class="large-4 columns" id="rightUser">
		<ul class="small-block-grid-3 animate-container">
			<li ng-repeat="compID in TeamComps">
				<p>{{ ud.TeamComps.compID }}</p>
				<p>{{ ud.TeamComps.compDate }}</p>
				<p>{{ ud.TeamComps.gameName }}</p>
			</li>
		</ul>
	</div>
	<div class="small-4 columns" id="bottomUser">
		<hr>
		<a href="/">Go Back</a>
	</div>
</div>
